<!DOCTYPE html>
<html lang="en" ng-app="inventionApp">

<head>
	<title>Patent.It - Inventor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen,projection">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">


</head>

<body>

    <div class="container">
        <div class="row nav_row">
            <div class="col-sm-2">
                <h2><a href="#/" id="logo">Patent.It</a></h2>
            </div>
            <div class="col-sm-10">
                <div class="text-right">
                    <ul class="list-inline">
                        <li>Welcome <%= user.first_name %></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row body-separator">
            <div class="col-xs-12"></div>
        </div>
    </div>

    <div ng-view = ""></div>

    <!-- Scripts -->

        <!--angular & angular routes-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>

        <!-- angular moment -->
    <script src="/js/node_modules/moment/moment.js"></script>
    <script src="/js/node_modules/angular-moment/angular-moment.js"></script>

    <!-- Angular module -->
    <script type="text/javascript">
        var inventionApp = angular.module('inventionApp', ['ngRoute', 'angularMoment']);

        var global_messages = [];

    </script>


        <!-- controllers and factories -->
    <script type="text/javascript" src="/js/factories/InventorFactory.js"></script>
    <script type="text/javascript" src="/js/controllers/inventor/InventorsController.js"></script>
    <script type="text/javascript" src="/js/controllers/inventor/NewPostController.js"></script>
    <script type="text/javascript" src="/js/controllers/inventor/ViewPostController.js"></script>
    <script type="text/javascript" src="/js/controllers/inventor/EditPostController.js"></script>
    <script type="text/javascript" src="/js/controllers/inventor/PendingPostsController.js"></script>

        <!-- define routes -->
    <script type="text/javascript" src="/js/config/InventorRoutes.js"></script>

</body>
</html>