<div class="deep-orange lighten-2" ng-controller="ProsecutorLoginRegController">

	<div class="container">

		<div class="row center section">
			<h4 class="blue-text text-darken-4">Welcome.  Please login or register.</h4>
		</div>

		<div class="row">

			<div class="col s5">
				<div class="card-panel">
					<h5>Login as Attorney/Agent</h5>
					<form>
						<label>Email: <input type="email"></label><br>
						<label>Password: <input type="password"></label>
						<input class="waves-effect waves-light btn" type="submit" value="Login">
					</form>
				</div>
			</div> <!-- end of login -->


			<div class="col s5 offset-s2">
				<div class="card-panel">			
					<h5>Register as Attorney/Agent</h5>
					<form>
						<label>First Name: <input type="email"></label><br>
						<label>Last Name: <input type="password"></label><br>
						<label>Email: <input type="email"></label><br>
						<label>Password: <input type="password"></label><br>
						<label>Confirm Password: <input type="password"></label>
						<input class="waves-effect waves-light btn" type="submit" value="Register">
					</form>
				</div>
			</div> <!-- end of register -->


		</div> <!-- end of row -->

	</div> <!-- end of container -->

</div>
