<div ng-controller="ProsecutorsController">

    <div class="container-fluid">
        <div class="row">

            <!-- Side Nav -->
            <div class="col-sm-2 side_nav">
                <ul class="list-unstyled">
                    <li class="sidenav_active">Summary</li>
                    <li><a href="#/accepted_bids">Accepted Bids</a></li>
                    <li><a href="#/">Pending Bids</a></li>
                    <li><a href="#/">Open Posts</a></li>
                    <li><a href="#/">Completed Projects</a></li>
                </ul>
            </div> <!-- End of side nav -->

           <!-- Main Summary Section -->
            <div class="col-sm-10 main_content">

                <div class="alert alert-success text-center main_panel" ng-show="message.length > 0">
                    <strong>{{message}}</strong>
                </div>

                <!-- accepted bids panel --> 
                <div class="panel panel-primary main_panel">
                    <div class="panel-heading text-center"><h4>Accepted Bids</h4></div>
                    <div class="panel-body" class="main_post_panel">
                        <p ng-if="accepted_bids.length == 0">No accepted bids.</p>
                        <div class="preview" ng-repeat="bid in accepted_bids | limitTo: accepted_preview_limit">
                            <h4><a href="#/accepted_bid/{{bid._invention._id}}">{{ bid._invention.title}}</a></h4>
                            <p>{{bid._invention.description}}</p>
                            <div class="text-right">
                                <a class="btn btn-success" href="#/post/{{post._id}}">Mark As Completed</a>
                            </div>
                            <hr>
                        </div>
                        <p class="text-center">
                            <span ng-hide="accepted_preview_limit >= accepted_bids.length"><a ng-click="accepted_preview_limit = accepted_preview_limit + 2">Show more...</a></span> 
                            <span ng-hide="accepted_preview_limit >= accepted_bids.length || accepted_preview_limit <=0"> | </span> 
                            <span ng-hide="accepted_preview_limit <= 0 || accepted_bids.length == 0"> <a ng-click="accepted_preview_limit = accepted_preview_limit - 2">Show less...</a></span>
                        </p>
                    </div>
                </div> <!-- end of awaiting bids or acceptance of bids panel --> 

               <!-- awaiting acceptance panel --> 
                <div class="panel panel-warning main_panel">
                    <div class="panel-heading text-center"><h4>Bids Awaiting Acceptance</h4></div>
                    <div class="panel-body" class="main_post_panel">
                        <p ng-if="pending_bids.length == 0">No bids awaiting acceptance.</p>
                        <div class="preview" ng-repeat="bid in pending_bids | limitTo: pending_preview_limit">
                            <h4><a href="#/post/{{bid._invention._id}}">{{ bid._invention.title}}</a></h4>
                            <p>{{bid._invention.description}}</p>
                            <hr>
                        </div>
                        <p class="text-center">
                            <span ng-hide="pending_preview_limit >= pending_bids.length"><a ng-click="pending_preview_limit = pending_preview_limit + 2">Show more...</a></span> 
                            <span ng-hide="pending_preview_limit >= pending_bids.length || pending_preview_limit <=0"> | </span> 
                            <span ng-hide="pending_preview_limit <= 0 || pending_bids.length == 0"> <a ng-click="pending_preview_limit = pending_preview_limit - 2">Show less...</a></span>
                        </p>
                    </div>
                </div> <!-- end of awaiting bids or acceptance of bids panel --> 


                <!-- awaiting bids panel --> 
                <div class="panel panel-danger main_panel">
                    <div class="panel-heading text-center"><h4>Posts Open for Bids</h4></div>
                    <div class="panel-body" class="main_post_panel">
                        <p ng-if="open_posts.length == 0">No posts awaiting bids or acceptance.</p>
                        <div class="preview" ng-repeat="post in open_posts | orderBy: '-created_date' | limitTo: open_preview_limit">
                            <h4><a href="#/post/{{post._id}}">{{ post.title}}</a></h4>
                            <p>{{post.description}}</p>
                            <p class="italic_time">Created: <time am-time-ago="post.created_date"></p>
                            <div class="text-right">
                                <a class="btn btn-danger" href="#/post/{{post._id}}">Place Bid</a>
                            </div>
                            <hr>
                        </div>
                        <p class="text-center">
                            <span ng-hide="open_preview_limit >= open_posts.length"><a ng-click="open_preview_limit = open_preview_limit + 2">Show more...</a></span> 
                            <span ng-hide="open_preview_limit >= open_posts.length || open_preview_limit <=0"> | </span> 
                            <span ng-hide="open_preview_limit <= 0 || open_posts.length == 0"> <a ng-click="open_preview_limit = open_preview_limit - 2">Show less...</a></span>
                        </p>
                    </div>
                </div> <!-- end of awaiting bids or acceptance of bids panel --> 

               <!-- completed bids panel --> 
                <div class="panel panel-success main_panel">
                    <div class="panel-heading text-center"><h4>Your Completed Projects</h4></div>
                    <div class="panel-body" class="main_post_panel">
                        <p ng-if="completed_bids.length == 0">No completed projects.</p>
                        <div class="preview" ng-repeat="bid in completed_bids | limitTo: completed_preview_limit">
                            <h4><a href="#/post/{{bid._invention._id}}">{{ bid._invention.title}}</a></h4>
                            <p>{{bid._invention.description}}</p>
                            <hr>
                        </div>
                        <p class="text-center">
                            <span ng-hide="completed_preview_limit >= completed_bids.length"><a ng-click="completed_preview_limit = completed_preview_limit + 2">Show more...</a></span> 
                            <span ng-hide="completed_preview_limit >= completed_bids.length || completed_preview_limit <=0"> | </span> 
                            <span ng-hide="completed_preview_limit <= 0 || completed_bids.length == 0"> <a ng-click="completed_preview_limit = completed_preview_limit - 2">Show less...</a></span>
                        </p>
                    </div>
                </div> <!-- end of awaiting bids or acceptance of bids panel --> 

            </div> <!-- End of main summary section -->


        </div>
    </div>


</div>
